debug/
release/

#these are created by Qt from lnzconsole.pro
/Makefile
/Makefile.Debug
/Makefile.Release
/object_script.lnzconsole.Debug
/object_script.lnzconsole.Release

# python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
