#include "functions_expose.h"

#include "functions_au3.h" //for adding objects
#include "functions_qt.h" //for adding objects
#include "functions_nircmd.h" //for adding objects


namespace launchorz_functions
{

	void AddGlobalObjects(QScriptEngine *eng)
	{
		
		%%%INSERT_PROPERTY_CREATION_HERE%%%
		
		// load JavaScript code
		
	}
}
